---
layout: default
---

<div class="home">
  <!-- {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
   -->
  <div class="introduction">
    <img class="portfolio" src="../assets/img/portrait.png">
    <h3>Hi, my name is Yunwei. </h3>
    <p>I am a third-year Computer Science student in the <a href="https://www.cs.washington.edu/">
      Paul G. Allen School</a> at the University of Washington. 
    <br>
    <br>
    I am on my way to be a software engineer, a revolutionary female figure in tech,
   a fully-committed vegan, and an amateur R&B singer. I'm closer to some goals than others.
    <br>
    <br>
    I am a strong advocate for minorities in engineering and hope to contribute 
    to this movement through teaching and outreach.
    </p>
    <br>
    <h3 class='center'> See reflections on some of my experience <a href="/my_work">here</a></h3> 
  </div>

  <div>
    <b>More about me as a techie:</b>
    <ul>
      <li>I like thinking about green technology, smart cities, and the future of human interaction.</li>
      <li>I am invested in accessibility applications. In my last research lab, we investigated how to 
        interpret speech visually to target the problem with using hearing aids in a noisy environment. I 
      thought the <a href="https://www.linkedin.com/in/yunweiliang/detail/treasury/position:1565477887/?entityUrn=urn%3Ali%3Afsd_profileTreasuryMedia%3A(ACoAACoVW5gB_3rxJq_QLsRBVUw0dg5c6EO3YOE%2C1578906043046)&section=position%3A1565477887&treasuryCount=2">
      project</a> was very interesting and meaningful.</li>
      <li>I pick up new languages fast.</li>
    </ul>

    <b>More about me as a student:</b>
      <ul>
        <li>I oversee <a href="https://sweuw.org/">Corporate Relations in Society of Women Engineers</a>.</li>
        <li>I taught an <a href="https://info201.github.io/">Informatics class</a>. </li>
        <li>I also did some tutoring for local high schools through the <a href="https://expd.uw.edu/riverways/">
      Pipeline Project</a>.</li>
      </ul>

      <b>More about me as a person:</b>
      <ul>
        <li>I only play omega squad teemo in League of Legends.</li>
        <li>I want to learn how to skateboard.</li>
        <li>I'm playing 
          <a href="https://www.youtube.com/watch?v=K3xbUe_spgA">ILYSB</a> by Lany and
          <a href="https://www.youtube.com/watch?v=1_PDXgwh6jo">Urs</a> by Niki
          on guitar right now.
      </ul>

    </p>
    
  </div>


  <!-- {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Thoughts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}


      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>

        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>

      
      {%- endfor -%}
    </ul>
  {%- endif -%} -->

</div>
