---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  
  <div class="introduction">
    <table>
      <tr>
        <td><img src="../img/portfolio_pic.jpg" width="1000px"></td>
        <td>
          <h3>Hi! My name is Yunwei </h3>
          <p>Say with me: "<a href="https://www.youtube.com/watch?v=Dl6Cc_l1S1Q">yu-in</a> way"
          <br>
          <br>
          {{site.description}}
          <br>
          <br>
          See my current and past projects <a href="#">here</a>. 
          I love building fun projects, playing guitar, and meeting new people!
          </p>
        </td>
      </tr>
    </table>
  </div>

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Thoughts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
